
<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="personCtrl">
 First name:<br>
  <input type="text" name="firstName" ng-model="firstName">
  <br>
  Last name:<br>
  <input type="text" name="lastName" ng-model="lastName">
   full name:{{fullname()}}
   </div>
  <script>
   angular.module('myApp', []).controller('personCtrl', function($scope) {
    $scope.firstName ='ishu';
    $scope.lastName ='Dharmaraj';
    $scope.fullname=function(){
 return $scope.firstName  + " " + $scope.lastName;
}
});
</script>

</body>
</html>





